<div class="text-center text-white">
    <h2 class="text-4xl md:text-5xl font-bold my-4">Hello, I'm Abraham!</h2>
    <div
      class="text-base md:text-xl font-mono lg:max-w-lg max-w-md mx-auto text-center mt-3"
    >
      A Web Developer that likes exploring all type of web technologies, music and <span title="Coffee!" class="cursor-pointer">☕</span>!
    </div>
  </div>