---
const Skills = [
  "NextJS",
  "Prisma",
  "tRPC",
  "TailwindCSS",
  "Vercel",
  "Supabase",
  "Railway",
  "Astro",
  "React",
  "Svelte",
  "SvelteKit",
  "PHP",
  "TypeScript",
  "JavaScript",
  "MySQL",
  "PostgrSQL",
  ".NET",
  "Bootstrap",
  "NodeJS",
  "JQuery",
  "Git",
  "GraphQL",
];
---

<div class="flex overflow-x-scroll px-4 scrollbar-track-white/20 scrollbar-thin scrollbar-thumb-white/60 scrollbar-thumb-rounded-md scrollbar-track-rounded-md py-4">
  {
    Skills.map((skill) => (
      <div class="mx-2 flex flex-col justify-center align-middle items-center rounded-lg text-center my-2 px-4 py-1 text-white border-2 border-white/30 backdrop-blur-md bg-transparent">
        <span class="font-semibold">{skill}</span>
      </div>
    ))
  }
</div>
