---
import ToolTip from "./ToolTip.astro";

const Skills = [
  "NextJS",
  "Astro",
  "TailwindCSS",
  "React",
  "Svelte",
  "SvelteKit",
  "PHP",
  "TypeScript",
  "JavaScript",
  "MySQL",
  "PostgrSQL",
  ".NET",
  "Bootstrap",
  "HTML",
  "CSS",
  "NodeJS",
  "JQuery",
  "Git",
  "Prisma",
  "Vercel",
  "tRPC",
  "Supabase",
  "GraphQL",
  "Railway",
];
---

<div class="flex overflow-x-scroll px-4 scrollbar-track-slate-300 scrollbar-thin scrollbar-thumb-slate-500 py-4">
  {
    Skills.map((skill) => (
      <div class="mx-2 flex flex-col justify-center align-middle items-center rounded-lg text-center my-2 px-4 py-1 text-white bg-slate-500">
        <span class="font-semibold">{skill}</span>
      </div>
    ))
  }
</div>
