<div class="flex flex-col items-center align-middle">
  <div class="flex space-x-6 items-center align-middle text-white">
    <a title="Github" target="_blank" href="https://github.com/AbrahamX3">
      <span class="font-medium hover:text-sky-200 transition-colors ease-in duration-150">Github</span>
    </a>
    <a title="Discord" target="_blank" href="https://discord.com/users/247971007409684480">
      <span class="font-medium hover:text-sky-200 transition-colors ease-in duration-150">Discord</span>
    </a>
    <a title="Twitter" target="_blank" href="https://twitter.com/x3_abe">
      <span class="font-medium hover:text-sky-200 transition-colors ease-in duration-150">Twitter</span>
    </a>
  </div>
</div>