---
export interface Props {
  name: string;
  link: string;
}

const { name, link } = Astro.props;
---

<a
  title={name}
  href={link}
  target="_blank"
  role="tooltip"
  data-tooltip-placement="top"
>
  <span
    class="group cursor-pointer pt-4 px-8 justify-center align-middle flex items-center text-white hover:text-gray-400 transition-all ease-in-out duration-300"
  >
    <slot />
  </span>
</a>
