---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Page not found">
	<div class="text-center my-36  text-white">
		<h1 class="text-4xl sm:text-6xl mb-4 font-bold">404 Page not found.</h1>
		<p class="text-xl sm:text-2xl ">
			Would you like to go <a href="/" class="text-slate-400 transition-all duration-250 ease-in hover:underline">home</a>?
		</p>
	</div>
</Layout>