---
import SpotifyPlayer from "../components/SpotifyPlayer/SpotifyPlayer";
import Skills from "../components/Sections/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Abraham | Web Developer">
  <section
    class="h-screen min-h-screen text-white justify-between leading-relaxed align-middle"
  >
    <div class="text-center text-white pt-8 pb-4">
      <h2 class="text-4xl md:text-5xl font-bold">Hello, I'm Abraham!</h2>
      <div
        class="text-base md:text-xl font-mono lg:max-w-lg max-w-md mx-auto text-center pt-3"
      >
        A Web Developer that likes exploring all type of web technologies!
      </div>
    </div>
    <div class="py-4">
      <Skills />
    </div>
    <div class="flex flex-col space-y-4 justify-center items-center pt-8">
      <h1 class="text-white text-3xl font-bold pb-4">What am I listening to?</h1>
      <SpotifyPlayer client:visible />
    </div>
  </section>
</Layout>
