---
import Tooltips from "@julian_cataldo/astro-tooltips/Tooltips.astro";
import "../styles/base.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth h-full bg-slate-800 scrollbar-track-slate-300 scrollbar-thin scrollbar-thumb-slate-500">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, viewport-fit=cover"
    />
    <meta
      name="description"
      content="Abraham's Personal Website - Web Developer"
    />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <Tooltips interactive={false} delay={[500, 0]} placement="top" />
  </head>
  <body
    class="h-full font-nunito md:max-w-5xl max-w-4xl mx-auto selection:bg-slate-400"
  >
    <slot />
  </body>
</html>
