---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, viewport-fit=cover"
    />
    <meta name="description" content="Abraham's Personal Website | Web Developer">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-black container md:max-w-xl max-w-md">
    <main class="snap-y snap-mandatory overflow-auto h-screen w-screen">
      <slot />
    </main>
  </body>
</html>
